$border-radius-20: 20px;
$border-radius-10: 10px;
$padding-main: 2em;
$filter-hover: brightness(1.3);
$filter-active: brightness(0.9);
$filter-disabled: brightness(0.3);
$transition: 0.2s ease;
$box-shadow-combined: 0px 4px 4px #00000059, 0px 12px 12px #00000028;
$bg-dark: #292725;
$bg-light: #262422;
$bg-alt: #ef5a2d5b;
$bg-alt-dark: #ef5b2d;
$text-color: #e5ddd8;
$bg-box-dark: #232120;
$bg-layout-dark: #312f2d;
$salmon-color: #e46d6d;
$orange-color: #ef5b2d;
$gray-color: #363739;
