@use "variables" as *;

.header-container {
    // background-color: rgb(0, 136, 255);
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
  align-items: center;

  .header-title {
    display: flex;
  }
}
