@use "variables" as *;

.imageinput-container {
  background-color: $bg-alt;
  display: flex;
  padding: $padding-main;
  width: 60%;
  height: 27%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $border-radius-20;
  border: 3px dashed $bg-alt-dark;
  gap: 0.5em;
  box-shadow: $box-shadow-combined;

  .imageinput-title {
    display: flex;
    gap: 0.5em;
  }

  .dragging-text {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
.is-dragging {
  filter: brightness(0.6) !important;
}

