@use "variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $text-color;
  background-color: $bg-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h3,
h4,
p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ef5b2d;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    filter: $filter-hover;
  }

  &:active {
    filter: $filter-active;
  }

  &:disabled {
    filter: $filter-disabled;
    cursor: not-allowed;
  }
}

input[type="number"] {
  background-color: rgba(0, 0, 0, 0.304);
  border: none;
  border-radius: $border-radius-10;
  padding: 1em;
  color: white;
  transition: outline $transition;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.792);

  &:hover {
    outline: 1px solid rgba(106, 106, 106, 0.589);
  }

  &:focus {
    outline: 1px solid rgba(250, 128, 114, 0.23);
  }
}
