@use "variables" as *;

.layouttemplate-container {
  background-color: $bg-box-dark;
  display: flex;
  padding: $padding-main;
  width: 30%;
  height: 27%;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  border-radius: $border-radius-20;
  box-shadow: $box-shadow-combined;

  .layouttemplate-title {
    display: flex;
    gap: 0.5em;
  }

  .layouttemplate-options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .layouttemplate-options {
      display: flex;
      cursor: pointer;
      background-color: $bg-layout-dark;
      gap: 1em;
      border-radius: $border-radius-10;
      transition: filter $transition;
      padding: 0.2em;
      box-shadow: $box-shadow-combined;

      &:hover {
        filter: $filter-hover;
      }
      &:active {
        filter: $filter-active;
      }
    }
  }
}
